<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>If you have any questions about our organisation or this webpage please keep them for you, because our web developer is so dumb that he hasn't made a possibility to send you a message from this website ;p</p>

